.articule-social {
    height: 950px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.article-inscription {
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}


.articule-social .titulo-social {
    color: #334155;
    font-family: "Rubik", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
}



.articule-social h2 {
    margin: 0;
    margin-bottom: 24px;
}

.social-container-intro {
    border-bottom: 1px solid #dae2ec;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 26px;
    color: #334155;
    font-weight: 400;
    border-bottom: 1px solid #dae2ec;
    transition: all 0.3s ease-in-out;
    font-family: "Rubik", sans-serif;

    &:hover {
        border-bottom: 1px solid #16a34a;
        color: #16a34a;
        cursor: pointer;
    }
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-box svg {
    color: #16a34a;
    height: 30px;
    width: 30px;
}


.arrow-up svg {
    color: #9ba6b8 !important;
}


.img-social img {
    height: 710px;
    width: 635px;
    border-radius: 4px;
    object-fit: cover;
    transform: translateX(-50px);
    z-index: -10px;
}

.info-social {
    background-color: #fff;
    padding: 80px;
    border: 1px solid #eaf0f6;
    border-radius: 4px;
    width: 710px;
    height: 590px;
    box-sizing: border-box;
    z-index: 2;
    transform: translateX(50px);
}


.articule-number {
    width: 100vw;
    height: 386px;
    display: flex;
    justify-content: center;
    gap: 155px;
    font-family: "Rubik", sans-serif;
}

.number-title {
    color: #334155;
    font-size: 44px;
    box-sizing: border-box;
    font-weight: 500;
    width: 400px;

}

.container-number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    width: auto;
    height: 300px;

    box-sizing: border-box;
}

.number {
    color: #4eb848;
    font-size: 80px;
    font-weight: 400;
    border-bottom: 2px solid #dae2ec;
    margin-bottom: 20px;
    padding-bottom: 14px;
}

.font-number {
    color: #334155;
    font-size: 24px;
    font-weight: 400;
}


.container-facultes {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
}

.nav-facultes {
    display: flex;
    justify-content: flex-start;
    width: 65%;
    /* controla el ancho de la barra*/

    border-bottom: 1px solid #dae2ec;
}

.nav-font {
    font-family: "Rubik", sans-serif;
    color: #334155;
    width: 13%;
    font-size: 44px;
    font-weight: 500;
    padding: 24px 32px;
    display: flex;
    justify-content: center;
}

.nav-facultes .nav-font:first-child {
    border-bottom: 2px solid #48b868;
}

.nav-facultes .nav-font:last-child {
    color: #9da4ad;
    transition: all .3s ease-in-out;

    &:hover {
        cursor: pointer;
        color: #334155;
    }
}

.info-facultes {
    display: flex;
    width: 65%;
}

.info-facultes p {
    padding: 20px;
    color: #485466;
    font-size: 18px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    width: 500px;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    width: 65%;
}

.cards {
    padding: 20px 30px;
    background-color: #f4f6f8;
    border-radius: 4px;
    align-content: center;
}

.cards-facultes h3 {
    margin: 0;
}

.cards-facultes {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid;
}

.h4-card {
    font-size: 14px;
    font-weight: 400;
    color: #4a5769;
}

.span-card {
    font-size: 18px;
    font-weight: 400;
    color: #334155;
}

.article-inscription {
    display: flex; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
 
}

.articule-inscription {
    background-color: #f4f6f8;
    border-radius: 8px;
    width: 550px;
    padding: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  
    text-align: left;  
    transform: translateX(80px);        
    z-index: 2;
}


.img-inscription img {
    height: 533px;
    width: 710px;
    border-radius: 8px;
    object-fit: cover;
    transform: translateX(-90px); 
    z-index: -1; 
}

.h2-inscription {
    font-family: "Rubik", sans-serif;
    font-size: 46px;
    font-weight: 500;
    color: #334155;
    margin: 0; 
    padding: 0;
}

.p-inscription {
    font-size: 20px;
    line-height: 1.5;
    font-family: "Nunito Sans", sans-serif;
    color: #4a5668;
    font-weight: 400;
    margin: 21px 0;
}

.span-inscription {
    color: #fff;
    padding: 15px 31px;
    background-color: #4eb848;
    font-size: 21px;
    border-radius: 999px;
    line-height: 1.5;
    display: inline-block;
    transition: background 0.3s ease;
}

.span-inscription:hover {
    cursor: pointer;
    background-color: #3a9e3a;
}
